html.lenis{height:auto}.lenis.lenis-smooth{scroll-behavior:auto}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:hidden}.lenis.lenis-scrolling iframe{pointer-events:none}

body {
    background-color: black;
    margin: 0;
    color: #ffdc00;
    font-family: "Director";
    font-variation-settings: "wght" 100;
}
.center {
    display: flex !important;
}
header {
    border-bottom: 1px solid #ffdc00;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0;
    z-index: 7;
}

.logo {
    margin: auto;
}

@font-face {
    font-family: "Le Murmure";
    src: url("fonts/LeMurmure-Regular.woff2")
}

@font-face {
    font-family: "Director";
    src: url("fonts/Director-Variable.woff")
}

h1 {
    font-family: "Le Murmure";
    font-size: 72px;
    font-weight: normal;
    text-transform: uppercase;
    width: max-content;
}

.content {
    padding: 20px;
}

.detached {
    position: absolute;
    left: 50%;
    top: 900px;
}

table, th, td {
    border: 1px solid #ffdc00;
    border-collapse: collapse;
    padding: 20px;
}

table {
    width: 100%;
}

strong {
    font-variation-settings: "wght" 900; 
}